.cart-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.cart-details {
  box-shadow: 0px 0px 5px 2px #ccc;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
}

.selected-product {
  display: flex;
  justify-content: space-between;
}
