* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.product-card {
  box-shadow: 0px 0px 5px 2px #ccc;
  border-radius: 5px;
  max-width: 210px;
  text-align: center;
  margin-bottom: 10px;
}
img {
  max-width: 200px;
  max-height: 250px;
  /* padding: 10px 0; */
  margin: 5px 0 5px 0;
}
span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

button {
  background-color: #1a73e8;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}
.price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding-left: 0px; */
  margin-top: 10px;
  box-sizing: border-box;
}
.originalPrice {
  margin-left: 10px;
  text-decoration: line-through;
  color: #aaa;
}
.rating {
  display: flex;
}
.discount {
  color: green;
}
.book-title {
  font-weight: 800px;
}
