.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px 0px #ccc;
  height: 30px;
  padding: 10px;
}
.search-input {
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 25px;
}
.login-btn {
  background-color: #1a73e8;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}
.logout-btn {
  background-color: rgb(26, 115, 232, 0.6);
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}
.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-direction {
  text-decoration: none;
  color: black;
}
.nav-direction,
.website-name {
  font-family: "Dancing Script", cursive;
  font-family: "Rubik", sans-serif;
  font-size: large;
}
