.footer {
  box-shadow: 0 0 5px 0px #ccc;

  text-align: center;
  padding: 10px;
  background-color: antiquewhite;

  margin-top: auto;
}

.footer-links {
  margin: 5px;
}
.footer-links a {
  margin: 5px;
  text-decoration: none;
}
