.profile-container {
  box-shadow: 0px 0px 10px 1px #ccc;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
}
.profile-details {
  margin: 10px;
}
